html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media screen and (min-width:980px) {
     body { 
      flex-direction: row-reverse;
    }
  }
header {
  flex: 30%;
  text-align: right;
  margin: 0;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  padding: 0 20px;
}
header h1 {
  font-size: 5em;
  margin: 0px;
  margin-top: 50px;
  padding: 0px;
  line-height: 1em;
  font-style: italic;
  font-weight: 900;
}
header p.subheading {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  margin: 0px;
}

header address {
  margin-top: 20px;
}
header address  h2 {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}
header address p {
  line-height: 1.5em;
  font-size: 1em;
  margin: 0px;
}

main {
  flex: 60%;
  display: flex;
  flex-direction: column;
}
main h2 {
  margin-top: 93px;
  margin-left: 80px;
  padding: 0;
  color: #fff;
  border-bottom: 2px solid #fff;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 1em;
}

#music-list {
  overflow: auto;
  scrollbar-color: #D70000 transparent;
  scrollbar-width: thin;
  padding: 0;
  height: 100%;
  margin-top: 20px;
}

.music-item {
  margin-bottom: 20px;
  padding: 10px 20px;
}
.music-item .music-title {
  color: #fff;
  margin: 0px;
  padding: 0 0 20px 60px;
  font-size: 1em;
  font-weight: 100;
}
.player {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.waveform {
  width: calc(100% - 50px);
  height: 100px;
}

.metadata {
  color: #D70000;
  margin-top: 10px;
  font-size: 0.8em;
  text-transform: lowercase;
  font-style: bold;
  display: flex;
  margin-left: 60px;
}
.metadata p {
  margin-right: 30px;
}
.metadata .tag {
  display: inline-block;
  padding: 5px 5px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 1em;
}
.metadata .tag-border {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1em;
  border: 1px solid #D70000;
}
.metadata .tag-border-filled {
  display: inline-block;
  background-color: #D70000;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 1em;
}

.player button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 0px;
  margin-right: 20px;
}

.player button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
}

.player button[data-playing="false"]::before {
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #D70000;
}

.player button[data-playing="true"]::before {
  width: 15px;
  height: 15px;
  border-width: 0 5px;
  border-color: #EB4926;
  border-style: double;
}